*{
    font-family: 'Raleway', sans-serif;
}

:root{
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;    
}


.fa-solid {
    color: var(--main-color);
}

body {
    margin: auto;
    max-width: 1440px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*********** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*********** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*---------------------------------------------------------------*/
/*--------------------------- HEADER - FOOTER -------------------*/
/*---------------------------------------------------------------*/
/********** ALIGNEMENT HORIZONTAL ET/OU VERTICAL **********/
.direction-row {
    display: flex;
    flex-direction: row;
}

.direction-column{
    display: flex;
    flex-direction: column;
}

/********** MISE EN FORME DES BALISES **********/
a{
    text-decoration: none;
}

/********** MISE EN FORME DU HEADER **********/
.logo-booki{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 61.09px;
    height: 19px;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    margin-left: 70px;
}
.align{ /* Permet d'aligner les éléments sur une ligne */
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: #000;
}

.menu a:hover{
    color: #0065FC;
    text-align: center; 
    border-top: 2px solid #0065FC; /* permet d'afficher la bordure supérieur + épaisseur + couleur*/
    padding-top: 5px;
}

/********** TITLE BAR **********/
.info-group{ /* cadre général contenant tout le bloc*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
/********** SEARCH BAR **********/

.bouton-rechercher{ /* cadre global */
    width: 350px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    align-items: center;
}
/* zone de texte pour la recherche*/
input{
    border: 0;
    font-size: 16px;
}
.recherche{ /* correspond  à la hauteur de la zone de texte de recherche*/
    height: 45px;
}

.align-geo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background-color: #f2f2f2;

    border-radius: 15px 0px 0px 15px;
}

.rechercher{ 
    height: 49px;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background: #0065FC;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/********** FILTER BAR **********/
.bouton-filtre{
    display: flex;
    height: 20px;
    padding: 10px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    align-items: center;
    gap: 10px;
}

.filtre{
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtre-texte{
    margin-right: 15px;
}
.bouton-filtre:hover{ /*affiche un fond bleu au survol de la div*/
    background: #DEEBFF;    
}

/********** INFO BAR **********/
.ico-info{
    display: flex;
    justify-content: center;
    border-radius: 50%; /* permet d'obtenir un rond */
    border: 1px solid #D9D9D9;
    padding: 5px 12px 7px 12px;
}

.align-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/*---------------------------------------------------------------*/
/*--------------------------- CARDS -----------------------------*/
/*------------------- HEBERGEMENTS MARSEILLES -------------------*/
/*---------------------------------------------------------------*/
/********** CONTENEUR CARDS **********/

/* Section Hébergement */
.hebergements {
    width: 65%;
}

.hebergements-conteneur{
    display: flex;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 30px;
    gap: 30px;
}

.hebergements-cards {
    align-items: center;
    align-content: space-between;
    border-radius: 20px;
    height: 192px;
    width: 100%;    
    margin-top: 30px;
    }

.hebergements-cards img {
    width: 100%;
    height: 125px;
    align-self: stretch;
    border-radius: 20px 20px 0 0;
}

.hebergement-card-content {
    padding: 0 0 5px 10px;
}

.texte-afficherplus{
    padding-top: 30px;
}

/* Section Activités */
.activités {    
    gap: 30px;
}

.activités img {
    width: 100%;
    height: 380px;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}

.activités-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activités-card-title {
    font-size: 16px;
    padding-left: 20px;
}

/*---------------------------------------------------------------*/
/*--------------------------- FOOTER ----------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.pied-de-page{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #F2F2F2;
}

.box-pdp{
    display: flex;
    align-items: self-start;
    width: 100%;
    padding-left:20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/*********** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body{
        margin: 0 50px 0 50px;
    }

    .logo-booki{
        margin: 30px 0 30px 0;
    }

    
    .menu a{
        color: #000;
    } 

    .menu a:hover{
        color: #0065FC;
        text-align: center; 
        border: 2px solid #0065FC;
        padding-top: 5px;
    }

    .orientation{
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Section Activité */
    .activités img {
        max-width: 100%;
        height: 200px;
        align-self: stretch;
        border-radius: 20px 20px 0 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Header */
    .align{
        display: flex;
        flex-direction: column;
    }
    
    .orientation-2{
        display: flex;
        flex-direction: column;
    }
    .logo-booki{
        display: flex;
        margin: 30px;
        /*centrage de la div*/
        margin-left: auto;
        margin-right: auto;
    }

    .menu a{
        color: #000;
        padding-top: 150px;
        text-align: center;
    }    
    .menu a:hover{
        color: #0065FC;
        text-align: center;
        border-bottom: 2px solid #0065FC;
    }
 
}