*{
    font-family: 'Raleway', sans-serif;
}

/* Design System */
/* Ensemble de variables, de composants et de concepts qui permettent
de maintenir une cohérence visuelle au sein d'un même projet*/
:root{
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;    
}

ul, li{
    list-style-type: none;
}

ul{
    text-align: right;
}

li{
    display: inline;
}

a{
    text-decoration: none;
}

.conteneur{
    display: grid;
    grid-template-columns: auto;
}

header{
    max-width: 1440px;
    width: 100%;
    height: 80px;
}